* {
	font-family: Arial, Helvetica, sans-serif;
}

.header__border--dashed-green {
	border: 3px dashed green;
}

.header__border--solid-coral {
	border: 2px solid coral;
}

.header__p--blue-linethrough {
	color: blue;
	text-decoration: line-through;
}

.header__title {
	font-size: 30px;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.flex-right {
	display: flex;
	justify-content: right;
}
